{% extends "cmpd_reg/base.html" %}
{% load staticfiles %}

{% block title %}
Bulk Loader
{% endblock title %}

{% block body %}
	<h1>Bulk Loader</h1>
  <h4>Requires a CSV with SMILES strings to be in a column header called 'SMILES'</h4>
	<div class="well">
    <form role="form" action="/bulk-loader/"
      method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset>
        <div class="row">
          <section class="col col-lg-3">
            <div class="form-group">
              <label for="bulkLoaderFile">Select File</label>
              <input type="file" name="file" id="input-upload-file" multiple>
            </div>
            <div class="form-group">
              <label for="useInchi">Use INCHI Standard</label>
              <input type="checkbox" name="inchi">
            </div>
          </section>
        </div>
        </div>
      </fieldset>
      <div class="form-actions">
        <input type="submit" class="btn btn-success" value="Load" />
      </div>
    </form>
    {% if load_error %}
    	<h3>{{ load_error }}</h3>
    {% endif %}
    {% if load_results %}
    	<h2>Results</h2>
    	<h3>Loaded {{ load_results.new }} New Compounds</h3>
    	<h3>{{ load_results.existing }} Compounds Have Already Been Loaded</h3>
    	<h3>{{ load_results.errors.count }} Compounds Had An Error And Could Not Be Loaded</h3>
      {% if load_results.errors.report %}
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>CSV Row Number</th>
              <th>SMILES</th>
              <th>Error Message</th>                
            </tr>
          </thead>
          <tbody>
          {% for error_obj in load_results.errors.report %}
            <tr>
              <td>{{ error_obj.row }}</td>
              <td>{{ error_obj.smiles }}</td>
              <td>{{ error_obj.msg }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
    {% endif %}
  </div>
{% endblock body %}